.first-container{
    background-color: #f2f8f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 40px;
    padding-left: 50px;
    padding-right: 50px;
}
.categorie-h{
    color: #000;
    margin-top: 0px;
    font-family: sans-serif;
}
.categorie-div{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.categorie-elmnts{

    border-radius: 10px;
    background-color: white; /* Change background color to white */
    box-shadow: 
        rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset; /* Add box shadow */
    font-size: 23px; /* Increase font size */
    color: black;
    font-family: cursive;
    width: 100%;
}
.categorie-elmnts:hover{
    color: #fff;
    background-color: #04376b;
}
.card-C{
    box-shadow: 
    rgba(0, 0, 0, 0.07) 0px 1px 2px, 
    rgba(0, 0, 0, 0.07) 0px 2px 4px, 
    rgba(0, 0, 0, 0.07) 0px 4px 8px, 
    rgba(0, 0, 0, 0.07) 0px 8px 16px, 
    rgba(0, 0, 0, 0.07) 0px 16px 32px, 
    rgba(0, 0, 0, 0.07) 0px 32px 64px;   
}
.card-body-c{
   background-color: #f2f8f9; 
}
.card-teacher{
    text-align: left;
}
.card-title{
    margin-top: 0px;
}
.card-text{
    text-align:left ;
}
.enrrol-btn{
    width: 70%;
    height: 50px;
    padding: 5px ;
    text-align: center;
    box-sizing: border-box;
    
}
/*  serchbar csss */
